@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Switzer";
  src: local("Switzer"), url("/static/fonts/Switzer-Variable.woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Azeret Mono";
  src: url("/static/fonts/AzeretMono-Variable.woff2");
  font-weight: 100 900;
  font-style: normal;
}

.wrapper {
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}

html, body {
  scroll-behavior: smooth !important;
}