.vertical-lines {
  background: repeating-linear-gradient(
    90deg,
    #cbd5e194,
    #cbd5e194 1px,
    #cbd5e100 1px,
    #cbd5e100 10%
  );
  transition: all 0.3s ease-in-out;
}

.white-shadow {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

