@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Switzer";
  src: local("Switzer"), url("/static/fonts/Switzer-Variable.woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Azeret Mono";
  src: url("/static/fonts/AzeretMono-Variable.woff2");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
